@import "tailwindcss";

/* @import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300..700;1,300..700&display=swap");
@font-face {
  font-family: "Cormorant Garamond", serif;
} */

@theme {
  --color-gold-50: #e4c590;
  --color-gold-400: #e5bf62;
  --color-gold-500: #d4af37;
  --color-gold-700: #aa862e;
  --color-silver-50: "#a6a6a6";
  --color-silver-100: #161718;
  --color-silver-150: #1b1c1d;
  --color-silver-200: hsla(0, 0%, 100%, 0.1);
  --color-silver-250: #0e0d0c;
  --color-silver-300: #141515;
  --color-silver-350: #121111;
  --color-silver-400: #hsla(40, 12%, 5%, 1);
  --animate-down: down 1s linear forwards;
  --animate-left1: left1 1s linear forwards;
  --animate-right1: right1 1s linear forwards;
  --animate-top1: top1 1s linear forwards;
  --animate-scale: animationscale 5s linear infinite;
  --animate-rotate: rotate 14s linear infinite;
  --animate-Floating1: Floating1 6s linear infinite;
  --animate-Floating2: Floating2 3s linear infinite;
  @keyframes down {
    0% {
      opacity: 0;
      transform: translateY(-30px);
    }
    100% {
      opacity: 1;
      transform: translateY(0px);
    }
  }
  @keyframes left1 {
    0% {
      opacity: 0;
      transform: translateX(-60px);
    }
    100% {
      opacity: 1;
      transform: translateX(0px);
    }
  }
  @keyframes right1 {
    0% {
      opacity: 0;
      transform: translateX(60px);
    }
    100% {
      opacity: 1;
      transform: translateX(0px);
    }
  }
  @keyframes top1 {
    0% {
      opacity: 0;
      transform: translateY(50px);
    }
    100% {
      opacity: 1;
      transform: translateY(0px);
    }
  }
  @keyframes animationscale {
    0% {
      transform: scale(1);
    }
    100% {
      transform: scale(1.15);
    }
  }
  @keyframes rotate {
    0% {
      transform: rotate(0);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  @keyframes Floating1 {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(30px);
    }
    100% {
      transform: translateY(0);
    }
  }
  @keyframes Floating2 {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(30px);
    }
    100% {
      transform: translateY(0);
    }
  }
 
}
