@import "tailwindcss";

/* @import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300..700;1,300..700&display=swap");
@font-face {
  font-family: "Cormorant Garamond", serif;
} */

@theme {
  --color-gold-50: #e4c590;
  --color-gold-400: #e5bf62;
  --color-gold-500: #d4af37;
  --color-gold-700: #aa862e;
  --color-silver-50: "#a6a6a6";
  --color-silver-100: #161718;
  --color-silver-150: #1b1c1d;
  --color-silver-200: hsla(0, 0%, 100%, 0.1);
  --color-silver-250: #0e0d0c;
  --color-silver-300: #141515;
  --color-silver-350: #121111;
  --color-silver-400: #hsla(40, 12%, 5%, 1);
}
